In [15]:
#2014510056- ZEYNEP KOSE

In [10]:
# Libraries
import numpy as np
import numpy.matlib
import matplotlib.pyplot as plt
import pandas as pd
import math
import os #look for directory
%matplotlib inline

In [11]:
# Import database

data = pd.read_csv('data.csv')

data.head(1)

,Year,Ratings,Genre,Gross,Budget,Screens,Sequel,Sentiment,Views,Likes,Dislikes,Comments,Aggregate Followers
0,2014,6.3,8,9130,4000000.0,45.0,1,0,3280543,4632,425,636,1120000.0

 The structures of the tables included in a data quality report to
describe

1) Continuous features 

2) Categorical features

In [12]:
#It is split into two data frames with different property types:
#Continuous
dataCont=data
#Categorical
dataCat=data

# Create "Continuous features" for Quality Report

In [13]:
QRcontinue = pd.DataFrame(columns = ['Feature','Count','%Miss','Card','Min','1Qrt','Mean','Median','3Qrt','Max','StdDev'])
QRcontinue

Empty DataFrame
Columns: [Feature, Count, %Miss, Card, Min, 1Qrt, Mean, Median, 3Qrt, Max, StdDev]
Index: []

In [20]:
#Feature names
QRcontinue['Feature']=list(dataCont.columns)
#Count Values (data - NaN)
QRcontinue['Count']=list(dataCont.count(axis=0))
# missing values
QRcontinue['%Miss']=list(dataCont.isnull().sum()/len(dataCont)*100)
#Cardinality: number of different values
QRcontinue['Card']=list(dataCont.apply(pd.Series.nunique))
#Minimum value
QRcontinue['Min']=list(dataCont.min(axis=0))
# 1st quartile
QRcontinue['1Qrt']=list(dataCont.quantile(q=0.25,axis=0))  #0<=q<=1 25%percentil=0.25q
#Average
QRcontinue['Mean']= list(dataCont.mean(axis=0))
#Median
QRcontinue['Median']= list(dataCont.median(axis=0))
# 3rd quartile
QRcontinue['3Qrt']=list(dataCont.quantile(q=0.75,axis=0))  #0<=q<=1 25%percentil=0.25q
#Maximum value
QRcontinue['Max']=list(dataCont.max(axis=0))
#Standard deviation
QRcontinue['StdDev']=list(dataCont.std(axis=0))

In [21]:
QRcontinue

,Feature,Count,%Miss,Card,Min,1Qrt,Mean,Median,3Qrt,Max,StdDev
0,Year,231,0.000000,2,2014.0,2014.0,2.014294e+03,2014.0,2015.0,2015.0,4.567498e-01
1,Ratings,231,0.000000,45,3.1,5.8,6.441558e+00,6.5,7.1,8.7,9.887652e-01
2,Genre,231,0.000000,11,1.0,1.0,5.359307e+00,3.0,8.0,15.0,4.141611e+00
3,Gross,231,0.000000,215,2470.0,10300000.0,6.806603e+07,37400000.0,89350000.0,643000000.0,8.890289e+07
4,Budget,230,0.432900,104,70000.0,9000000.0,4.792173e+07,28000000.0,65000000.0,250000000.0,5.428825e+07
5,Screens,221,4.329004,200,2.0,449.0,2.209244e+03,2777.0,3372.0,4324.0,1.463768e+03
6,Sequel,231,0.000000,7,1.0,1.0,1.359307e+00,1.0,1.0,7.0,9.672406e-01
7,Sentiment,231,0.000000,36,-38.0,0.0,2.809524e+00,0.0,5.5,29.0,6.996775e+00
8,Views,231,0.000000,231,698.0,623302.0,3.712851e+06,2409338.0,5217379.5,32626778.0,4.511104e+06
9,Likes,231,0.000000,227,1.0,1776.5,1.273254e+04,6096.0,15247.5,370552.0,2.882548e+04
10,Dislikes,231,0.000000,203,0.0,105.5,6.790519e+02,341.0,697.5,13960.0,1.243929e+03
11,Comments,231,0.000000,213,0.0,248.5,1.825701e+03,837.0,2137.0,38363.0,3.571040e+03
12,Aggregate Followers,196,15.151515,190,1066.0,183025.0,3.038193e+06,1052600.0,3694500.0,31030000.0,4.886278e+06

# Create "Categorical features" for Quality Report

In [17]:
#"Quality report"
QRcategorical = pd.DataFrame(columns = ['Feature','Count','%Miss','Card','Mode','ModeFreq','%Mode','2ndMode','2ndModeFreq','2nd%Mode'])
QRcategorical

Empty DataFrame
Columns: [Feature, Count, %Miss, Card, Mode, ModeFreq, %Mode, 2ndMode, 2ndModeFreq, 2nd%Mode]
Index: []

In [22]:
#Feature names
QRcategorical['Feature']=list(dataCat.columns)
#Count Values (data - NaN)
QRcategorical['Count']=list(dataCat.count(axis=0))
# missing values
QRcategorical['%Miss']=list(dataCat.isnull().sum()/len(dataCat)*100)
#Cardinality: number of different values
QRcategorical['Card']=list(dataCat.apply(pd.Series.nunique))
#Moda
QRcategorical['Mode']=list(dataCat.mode(axis=0).iloc[0])
#Frequency of mode

#Percentage of mode

# 2nd mode
QRcategorical['2ndMode']=list(dataCat.mode(axis=0).iloc[1])
# 2nd mode frequency

#Percentage of 2nd mode

In [23]:
QRcategorical

,Feature,Count,%Miss,Card,Mode,ModeFreq,%Mode,2ndMode,2ndModeFreq,2nd%Mode
0,Year,231,0.000000,2,2014.0,NaN,NaN,NaN,NaN,NaN
1,Ratings,231,0.000000,45,6.1,NaN,NaN,6.3,NaN,NaN
2,Genre,231,0.000000,11,1.0,NaN,NaN,NaN,NaN,NaN
3,Gross,231,0.000000,215,129000.0,NaN,NaN,1210000.0,NaN,NaN
4,Budget,230,0.432900,104,5000000.0,NaN,NaN,50000000.0,NaN,NaN
5,Screens,221,4.329004,200,2.0,NaN,NaN,4.0,NaN,NaN
6,Sequel,231,0.000000,7,1.0,NaN,NaN,NaN,NaN,NaN
7,Sentiment,231,0.000000,36,0.0,NaN,NaN,NaN,NaN,NaN
8,Views,231,0.000000,231,698.0,NaN,NaN,702.0,NaN,NaN
9,Likes,231,0.000000,227,1.0,NaN,NaN,6.0,NaN,NaN
10,Dislikes,231,0.000000,203,1.0,NaN,NaN,NaN,NaN,NaN
11,Comments,231,0.000000,213,1.0,NaN,NaN,NaN,NaN,NaN
12,Aggregate Followers,196,15.151515,190,130000.0,NaN,NaN,147000.0,NaN,NaN

# Easiest way with enough info (for numerical data)

In [24]:
data.describe()

,Year,Ratings,Genre,Gross,Budget,Screens,Sequel,Sentiment,Views,Likes,Dislikes,Comments,Aggregate Followers
count,231.000000,231.000000,231.000000,2.310000e+02,2.300000e+02,221.000000,231.000000,231.000000,2.310000e+02,231.000000,231.000000,231.000000,1.960000e+02
mean,2014.294372,6.441558,5.359307,6.806603e+07,4.792173e+07,2209.244344,1.359307,2.809524,3.712851e+06,12732.536797,679.051948,1825.701299,3.038193e+06
std,0.456750,0.988765,4.141611,8.890289e+07,5.428825e+07,1463.767755,0.967241,6.996775,4.511104e+06,28825.484481,1243.929481,3571.040447,4.886278e+06
min,2014.000000,3.100000,1.000000,2.470000e+03,7.000000e+04,2.000000,1.000000,-38.000000,6.980000e+02,1.000000,0.000000,0.000000,1.066000e+03
25%,2014.000000,5.800000,1.000000,1.030000e+07,9.000000e+06,449.000000,1.000000,0.000000,6.233020e+05,1776.500000,105.500000,248.500000,1.830250e+05
50%,2014.000000,6.500000,3.000000,3.740000e+07,2.800000e+07,2777.000000,1.000000,0.000000,2.409338e+06,6096.000000,341.000000,837.000000,1.052600e+06
75%,2015.000000,7.100000,8.000000,8.935000e+07,6.500000e+07,3372.000000,1.000000,5.500000,5.217380e+06,15247.500000,697.500000,2137.000000,3.694500e+06
max,2015.000000,8.700000,15.000000,6.430000e+08,2.500000e+08,4324.000000,7.000000,29.000000,3.262678e+07,370552.000000,13960.000000,38363.000000,3.103000e+07